@font-face {
    font-family: tarotFont;
    src: url(./font/Sigmar_One/SigmarOne-Regular.ttf);
}

@font-face {
    font-family: notoFont;
    src: url(./font/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: notoSanFont;
    src: url(./font/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: libreFont;
    src: url(./font/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: shrikFont;
    src: url(./font/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: mavenFont;
    src: url(./font/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: sansitaFont;
    src: url(./font/Sansita/Sansita-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffe5ec ;
    position: relative;
}

.img-background{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}
/* Header */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 30px 70px;
}

.header-iconText{
    font-family: tarotFont;
    font-size: 50px;
    cursor: pointer;
}

.header-menuList{
    text-decoration: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.header-menuList li{
    list-style: none;
}

.header-menuList li a{
    text-decoration: none;
    color: #785A42;
    font-family: notoFont;
}

.header-menuList li a:hover{
    opacity: 0.8;
}

.button{
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #FFA0DC;
    font-family: notoFont;
    margin-top: 30px;
    cursor: pointer;
}

.button :hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Welcome */
.image-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 70px;    
}

.image-container img:first-child{
    width: 25%;
}