/* Welcome */
.image-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 70px;    
}

.image-container img:first-child{
    width: 25%;
}

/*All css*/
.combo{
    margin: 30px 70px;
    padding: 10px 20px;
    border: 2px solid #785A42;
    border-radius: 10px;
    background-color: rgba(255 , 229 , 236, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combo-tittle{
    color: #785A42;
    text-transform: uppercase;
    font-size: 50px;
}

.content{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.content-description{
    width: 50%;
    padding: 10px;
    padding-right: 20px;
    position: relative;
}

.content-description::after{
    content: "";
    position: absolute;
    height: 90%;
    width: 1.5px;
    background-color: #785A42;
    top: 0px;
    right: 10px;
}

.content-description img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
}

.cartBuy{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.cartBtn{
    width: 200px;
}
/*Combo special*/

.description-para{
    font-size: 45px;
}

.special-shopping{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.special-choices{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.choicesBtn{
    opacity: 0.8;
    width: 200px;
}

.choices-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    position: relative;
    width: 90%;
    height: 25vh;
}

.a-choice{
   position: absolute;
}

.des{
    margin-bottom: 20px;
}

.cost{
    margin-top: 10px;
}

.cost-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.cost-style{
    border: 1px solid #785A42;
    border-radius: 10px;
    padding: 5px 15px;
}

.b-choice{
    visibility: hidden;
}

/*Normal combo*/
.normalCombo-shopping{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.normal-choices{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.normalBtn150, .normalBtn160, .normalBtn175, .normalBtn200{
    width: fit-content;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    height: fit-content;
}

.choices-desc-normalCombo{
    height: 15vh;
    margin-top: 20px;
    text-align: center;
}

.active{
    background-color: #ff3cb7;
}

.activeBtn{
    opacity: 0.8;
}