@font-face {
    font-family: tarotFont;
    src: url(./font/Sigmar_One/SigmarOne-Regular.ttf);
}

@font-face {
    font-family: notoFont;
    src: url(./font/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: notoSanFont;
    src: url(./font/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: libreFont;
    src: url(./font/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
    font-family: shrikFont;
    src: url(./font/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: mavenFont;
    src: url(./font/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: sansitaFont;
    src: url(./font/Sansita/Sansita-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffe5ec;
}

/* Header */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 30px 70px;
}

.header-iconText{
    font-family: tarotFont;
    font-size: 40px;
    cursor: pointer;
}

.header-menuList{
    text-decoration: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.header-menuList li{
    list-style: none;
}

.header-menuList li a{
    text-decoration: none;
    color: #785A42;
    font-family: notoFont;
}

.header-menuList li a:hover{
    opacity: 0.8;
}

.button{
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #FFA0DC;
    font-family: notoFont;
    margin-top: 10px;
    cursor: pointer;
}

.button :hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Welcome */
.welcome-container{
    display: flex;
    padding: 30px 70px;
    justify-content: space-between;
}

.welcome-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.welcome-text-1{
    font-family: notoSanFont;
    color: #FD92D5;
    font-size: 24px;
}

.welcome-text-2{
    font-family: tarotFont;
    color: #FF3CB7;
    font-size: 40px;
}

.welcome-col img{
    margin-top: 20px;
    width: 200px;
    transform: rotate(30deg);
}

.welcome-col-1{
    width: 55%;
}

.welcome-col-1 img{
    width: 100%;
}

/* Product */
.product{
    width: 100%;
    height: 40%;
    padding: 30px 70px;
    position: relative;
}

.product-title{
    font-family: libreFont;
    text-transform: uppercase;
    color: #FF3CB7;
    font-size: 90px;
    width: 100%;
    text-align: right;
}

.product-title::after{
    position: absolute;
    content: "";
    width: 45%;
    height: 3px;
    background-color: #785A42;
    left: 70px;
    top: 80px;
}

.product-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-item{
    
    width: 350px;
    height: 560px;
    background-color: white;
}

.product-item img{
    object-fit: cover;
    width: 350px;
    height: 500px;
}

.product-item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-item p {
    font-family: libreFont;
    color: #785A42;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

/*Services*/
.services{
    width: 100%;
    padding: 30px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    background-color: white;
    top: 150px;
    left: 72px;
}
.services span::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    background-color: white;
    top: 150px;
    right: 72px; 
}

.services img{
}

.services-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.services-name{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #acacac;
    font-family: mavenFont;
    text-transform: uppercase;
    color: #ff9fde;
    font-size: 27px;
    cursor: pointer;
}

.services-text{
    font-family: shrikFont;
    text-transform: uppercase;
    color: #FF3CB7;
    font-size: 60px;
    margin-top: 50px;
}

/* Contact me */
.contact{
    width: 100%;
    padding: 30px 70px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.contact::after{
    content: "";
    position: absolute;
    width: 32%;
    height: 3px;
    background-color: white;
    top: 70px;
    left: 72px;
}

.contact-title{
    font-family: shrikFont;
    color: #FF3CB7;
    font-size: 60px;
}

.contact-title::after{
    content: "";
    position: absolute;
    width: 32%;
    height: 3px;
    background-color: white;
    top: 70px;
    right: 72px;
}

.contact-company{
    font-family: notoFont;
    color: #FF3CB7;
    width: 50%;
    font-size: 27px;
    text-align: center;
    margin-bottom: 50px;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact-social img{
    border-radius: 15px;
}

.contact-social ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contact-social ul li a{
    color: #785A42;
    font-size:40px;
}

.contact-social ul li a:hover{
    opacity: 0.8;
}

.contact-address{

}

.address-text{
    font-family: notoFont;
    color:#FD92D5;
    font-size: 27px;
}

.book{
    font-family: sansitaFont;
    width: 430px;
    height: 80px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    color: #DF73B7;
    font-size: 20px;
}

/* Footer */

.footer-container{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    position: relative;
}

.footer-container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #785A42;
    top: 0;
    left: 0;
}

.footer-text{
    font-family: notoFont;
    color: #ff3cb7;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}